<ion-header>
  <ion-navbar>
    <ion-title>Sub Categories</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <ion-list no-lines >
    <ion-item *ngIf="!SubCats.length" >  
      No SubCategories
    </ion-item>
  </ion-list>

  <ion-list *ngIf="SubCats.length">
    <ion-item *ngFor="let s of SubCats"  >
      {{s.Name}}
    </ion-item>
  </ion-list>



   <ion-fab right bottom>
    <button ion-fab (click)="gtAddSubCat()"  >
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
