<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col col-6>
        <ion-card>
          <ion-card-content>
            <p class="mNum">{{prods.length}}</p>
            <p class="mText">Products</p>
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col col-6>
        <ion-card>
          <ion-card-content>
            <p class="mNum">{{pendOrdersTot}}</p>
            <p class="mText">Pending Orders</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-content>
      <ion-card-title color="primary">Top 5 Selling Products</ion-card-title>

      <div *ngIf="dataArray.length">
        <ion-item *ngFor="let p of prods ;let i=index; ">
          <h3 item-start *ngIf="i<4">{{i+1}}.{{p.Name }}</h3>
          <h2 item-end ion-text *ngIf="i<4" color="primary">{{p.Sales}}</h2>
        </ion-item>
      </div>
      <ion-item *ngIf="!dataArray.length">
        No Data Available
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
