page-login {
ion-input{
    border-bottom : 1px solid map-get($colors,primary);
}
.logo{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

}
