<ion-header>
  <ion-navbar>
    <ion-title>Add New Product</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Product Name</ion-label>
    <ion-input type="text" [(ngModel)]="name" autofocus></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Category</ion-label>
    <ion-input type="text" [(ngModel)]="cat"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Sub Category</ion-label>
    <ion-input type="text" [(ngModel)]="subCat"></ion-input>
  </ion-item>


  <!-- <ion-item *ngIf="name" >
    <ion-label floating> Category</ion-label>
    <ion-select [(ngModel)]="catSel" (ionChange)="getsubCats()" >
      <ion-option *ngFor="let c of cats"  [value]="c.key">{{c.Name}}</ion-option>
    </ion-select>
  </ion-item> -->


  <!-- <button ion-button clear *ngIf="name" float-right (click)="gtAddCat()" >
    <ion-icon name="add" padding-right ></ion-icon>
    Add Category</button> -->


    
  <!-- <ion-item *ngIf="catSel" >
    <ion-label floating>Sub Category</ion-label>
    <ion-select [(ngModel)]="subCatSel">
      <ion-option *ngFor="let s of subCats" [value]="s.key">{{s.Name}}</ion-option>
    </ion-select>
  </ion-item> -->

  

  <button ion-button float-right *ngIf="subCat" (click)="checkData()">Add Product</button>

</ion-content>